<div class="container">



            <app-list-header></app-list-header>

<section class="tasks">
    <ul class="tasks_list">
        <li class="task">
            <div class="task_content">
                <i class="material-icons btn_check">panorama_fish_eye</i>
                <div class="task_text">
                    <h1 class="task_name">components</h1>
                    <p class="task_date">deadline: 30.12.2018</p>
                </div>
            </div>
            
            <button class="task_delete">
                <i class="material-icons"> clear </i>
            </button>
        </li>
        <li class="task task_done">
            <div class="task_content">
                <i class="material-icons btn_check">check_circle</i>
                <div class="task_text">
                    <h1 class="task_name">components</h1>
                    <p class="task_date">deadline: 30.12.2018</p>
                </div>
            </div>
            
            <button class="task_delete"> 
                <i class="material-icons"> clear </i>
            </button>
        </li>
    </ul>
</section>
</div>