<!-- list header -->
<header class="header_wrapper">
    <!-- top control menu -->
    <div class="header">
        <!-- back to profile button  -->
        <a mat-button mat-icon-button routerLink="/profile" class="btn_back">
            <i class="material-icons">arrow_back</i>
        </a>
        <!-- edit list button -->
        <button mat-button mat-icon-button (click)="openEditListDialog()" class="btn_back">
            <i class="material-icons">edit</i>
        </button>
    </div>
    <!-- project name, tasks and deadline -->
    <div class="project">
        <h1 class="project_name">{{list.title}}</h1>
        <p *ngIf="list.date" class="project_date">deadline: {{list.date}}</p>
        <p class="project_tasks">{{taskSum}} tasks</p>
    </div>
</header>
<!-- project info -->
<section class="summary_wrapper" *ngIf="list.info">
    <div class="summary">
        <h1 class="summary_title"> About list </h1>
        <p class="summary_content"> {{list.info}} </p>
    </div>
</section>