@import '../../../../scss/_variables';


.header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    &_wrapper {
        color: $background;
        background: $color_main;  
    }
}

.project {
    text-align: center;
    padding-bottom: 20px;
    &_name {
        font-size: 130%;
        font-weight: 700;
        margin-bottom: 10px;
    }
    &_date {
        opacity: .5;
        margin-bottom: 10px;
    }
    &_tasks {
        opacity: .5;
    }
}

.summary {
    padding: 20px;
    &_wrapper {
        color: $background;
        background: darken($color_main, 5% );
    }
    &_title {
        margin-bottom: 10px;
        font-weight: 700;
    }
    &_content {
        line-height: 130%
    }
}

// desktop
@media screen and (min-width: 800px) {

    .header, .summary, .menu_wrapper {
        max-width: $width;
        margin: 0 auto;
    }

}