@import '../../../../scss/_variables';

.header {
    padding: 20px;
    &_wrapper {
        color: $background;
        background: $color_main;  
    }
}

.project {
    text-align: center;
    &_name {
        font-size: 130%;
        font-weight: 700;
        margin-bottom: 10px;
    }
    &_date {
        opacity: .5;
        margin-bottom: 10px;
    }
    &_tasks {
        opacity: .5;
    }
}

.summary {
    padding: 20px;
    &_wrapper {
        color: $background;
        background: darken($color_main, 5% );
    }
    &_title {
        margin-bottom: 10px;
        font-weight: 700;
    }
    &_content {
        line-height: 130%
    }
}

.list_menu {
    border-bottom: 1px solid darken( $background, 10% );
}
.menu {
    &_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
       
    }
    &_item {
        display: block;
        padding: 20px;
        font-weight: 700;
        text-align: center;
        transition: $transition;

        &:hover, &--active {
            font-weight: 700;
            background: darken( $background, 10% );
        }

    }
}


.form {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "title date"
    "btn btn";

    width: 100%;

    input {
        width: 100%;
        border: none;
        color: $color_main;
        background: transparent;
        padding: 35px 20px 15px 20px;
        font-size: 100%;
        font-weight: 700;
    }
}
label {
    position: relative;
    border-left: 1px solid darken( $background, 10% );
}
.label-text {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 80%;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $color_second;
    
}




.task {
    &_title {
        grid-area: title;

    }
    &_date {
        grid-area: date;
    }
    &_add {
        grid-area: btn;
        font-weight: 700;
        color: $background;
        background: $color_second;
        text-transform: uppercase;
        transition: $transition;
        cursor: pointer;
        &:hover {
            background: darken( $color_second, 5% );
        }
    }
}



@media screen and (min-width: 800px) {

    .header, .summary, .menu_wrapper, .form {
        max-width: $width;
        margin: 0 auto;
    }

    .form {
        display: grid;
        grid-template-columns: 3fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "title date btn"
    }


   

}