<div class="container">
        <header class="header_wrapper">
                <div class="header">
                    <a routerLink="/profile" class="btn_back">
                        <i class="material-icons">arrow_back</i>
                    </a>
                    <div class="project">
                        <h1 class="project_name">Add new list</h1>
                        <p class="project_date">Today is 16.9.2018</p>
                    </div>
                </div>
            </header>
       
        <main class="form_wrapper">
            <form class="form" method="post">
              
                <label>
                    <input type="text" required />
                    <div class="label-text">Title</div>
                </label>
                <label>
                    <input type="text" required />
                    <div class="label-text">about project</div>
                </label>
                <label>
                    <input type="date" required />
                    <div class="label-text">Deadline</div>
                </label>
                
                <a class="btn btn_claim btn_form">Create list</a>
            </form>
            
        </main>
    
    </div>
