<div class="container">
    <!-- menu component -->
    <app-menu></app-menu>

    <main class="claim">
        <div class="claim_content">
            <h1 class="claim_title"> Your busy life deserves this. </h1>
            <p class="claim_subtitle"> The easiest way to get stuff done, Help you tick off all your personal and professional to-dos. </p>
            <div class="claim_actions">
                <a routerLink="/singup" class="btn btn_claim btn--h">create account</a>
            </div> 
        </div>
        <img src="../assets/img/app.png" alt="" class="img_app">
    </main>

</div>