<!--  header of edit list dialog  -->
<header mat-dialog-title class="header_wrapper">
    <div class="header">
        <div class="project">
            <h1 class="project_name">Edit list</h1>
            <p class="project_date">Today is {{today}}</p>
        </div>
    </div>
</header>
<!-- feedback -->
<p *ngIf="feedback" class="feedback">{{feedback}}</p>
<!-- dialog content -->
<mat-dialog-content>
        
    <main class="form_wrapper">
        <!-- edit list form -->
        <form class="form" #listForm="ngForm" (ngSubmit)="editList(data.id)">
            <!-- title list input -->
            <mat-form-field appearance="legacy">
                <input 
                    matInput 
                    placeholder="Title"
                    type="text" 
                    name="title"
                    [(ngModel)]="list.title"
                    required
                >
            </mat-form-field>
            <!-- about project input -->
            <mat-form-field appearance="legacy">
                <input 
                    matInput 
                    placeholder="About list"
                    type="text" 
                    name="info"
                    [(ngModel)]="list.info"
                >
            </mat-form-field>
            <!-- deadline project input -->
            <mat-form-field appearance="legacy">
                <input 
                    matInput 
                    [matDatepicker]="picker" 
                    placeholder="Deadline"
                    (dateChange)="getDate($event)"
                    name="date"
                    [(ngModel)]="list.date"
                    disabled
                >
                <!-- date picker icon -->
                <mat-datepicker-toggle matSuffix [for]="picker">
                    <i matDatepickerToggleIcon class="material-icons"> event </i>
                </mat-datepicker-toggle>
                <!-- date picker -->
                <mat-datepicker #picker disabled="false"></mat-datepicker>
            </mat-form-field>
            <!-- reset deadline button -->
            <button *ngIf="list.date" (click)="removeDeadline()" class="btn_reset">remove deadline</button>
            
            <!-- submit form button -->
            <button  type="submit" class="btn btn_claim btn_form">Edit list</button>
        </form>  
    </main>
</mat-dialog-content>