<div class="container">
    <!-- menu component -->
    <app-menu></app-menu>
    <main class="form_wrapper">
        <!-- sign up form -->
        <form class="form" (submit)="signUp()">
            <h1 class="form_title">Start using Done</h1>
            <!-- username input -->
            <mat-form-field appearance="legacy">
                <input 
                    matInput 
                    placeholder="Username"
                    required
                    type="text" 
                    name="username"
                    [(ngModel)]="user.username"
                    autofocus
                >
            </mat-form-field>
            <!-- email input -->
            <mat-form-field appearance="legacy">
                <input 
                    matInput 
                    required
                    placeholder="Email"
                    type="email" 
                    name="email"
                    [(ngModel)]="user.email"
                >
            </mat-form-field>
            <!-- password input -->
            <mat-form-field appearance="legacy">
                <input 
                    matInput 
                    required
                    placeholder="Password"
                    type="password" 
                    name="password" 
                    [(ngModel)]="user.password"
                >
            </mat-form-field>
            <!-- sign up submit button -->
            <button class="btn btn_claim btn_form" type="submit" value="Register">Create account</button>
        </form>
        <!-- feedback -->
        <p *ngIf="feedback" class="feedback">{{feedback}}</p> 
    </main>
</div>