.container {
    position: relative;
    background: $background;  
    height: 100vh;
}
.tasks {
    padding: 0 20px;
}

.input_date {
    grid-area: date;
    margin: 0;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid darken( $background, 10% );
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 5px; 
    &_text {
       margin-left: 20px;
    }
    &_name {
        font-weight: 700;
        
    }
    &_date {
        font-size: 90%;
        margin-top: 8px;
    }
    &_delete {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color_main;
        padding: 5px;
        border-radius: 50px;
        transition: $transition;
        cursor: pointer;
        i {
            font-size: 20px;
        }
        &:hover {
            color: $background;
            background: $color_second;

        }
    }
    &_content {
        display: flex;
        align-items: center;
        i {
            font-size: 30px;
            transition: $transition;
            cursor: pointer;
            &:hover {
                color: $color_second;

            }
        }

    }
}

.task_done {
    color: lighten($color_main, 30%);
    .btn_check {
        color: $color_second;
    }
    .task_delete {
        color: lighten($color_main, 30%);
        &:hover {
            color: lighten($color_main, 30%);
            background: darken( $background, 10% );
        }
    }
    .task_name {
        text-decoration: line-through;
        font-weight: normal;
    }
}

// desktop
@media screen and (min-width: 800px) {
    
    .tasks {
        max-width: $width;
        margin: 0 auto;
        padding: 0 
    }

}